<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994168101812-blbt0ndba97booo9t3pndgfeo89her41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994168101812-blbt0ndba97booo9t3pndgfeo89her41</string>
	<key>API_KEY</key>
	<string>AIzaSyDKoEML3xJGkediXN4AHI6PPen7PhYMRNI</string>
	<key>GCM_SENDER_ID</key>
	<string>994168101812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.washu.arpeggio</string>
	<key>PROJECT_ID</key>
	<string>arpeggio-94db3</string>
	<key>STORAGE_BUCKET</key>
	<string>arpeggio-94db3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994168101812:ios:46d10318f1725b242270e1</string>
</dict>
</plist>